.admin-products-index {
  @media screen and (max-width: 1500px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }

  h1 {
    padding: 0.25em;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
  }

  .new-button {
    border-radius: 0.25em;
    border: 0.1em solid rgba(0, 130, 29, 0.8);
    background: rgba(0, 130, 29, 0.7);
    color: white;
  }
}
